In [1]:
%reset -fs
import bs4
from bs4 import BeautifulSoup as bs
import pandas as pd
import numpy as np
import requests
import pickle
import re

In [2]:
movies_final_2017_df = pd.read_pickle('df_all_movies_2017_pk')
movies_final_2017_df.head(10)

,Rank,Movie,ReleaseDate,Distributor,Genre,Revenues,Tickets_Sold,summary_page_url,cast_page_url
0,1,Star Wars Ep. VIII: The Las…,"Dec 15, 2017",Walt Disney,Adventure,"$517,218,368","57,660,910",https://www.the-numbers.com/movie/Star-Wars-Ep...,https://www.the-numbers.com/movie/Star-Wars-Ep...
1,2,Beauty and the Beast,"Mar 17, 2017",Walt Disney,Musical,"$504,014,165","56,188,870",https://www.the-numbers.com/movie/Beauty-and-t...,https://www.the-numbers.com/movie/Beauty-and-t...
2,3,Wonder Woman,"Jun 2, 2017",Warner Bros.,Action,"$412,563,408","45,993,691",https://www.the-numbers.com/movie/Wonder-Woman...,https://www.the-numbers.com/movie/Wonder-Woman...
3,4,Guardians of the Galaxy Vol 2,"May 5, 2017",Walt Disney,Action,"$389,813,101","43,457,424",https://www.the-numbers.com/movie/Guardians-of...,https://www.the-numbers.com/movie/Guardians-of...
4,5,Spider-Man: Homecoming,"Jul 7, 2017",Sony Pictures,Action,"$334,201,140","37,257,652",https://www.the-numbers.com/movie/Spider-Man-H...,https://www.the-numbers.com/movie/Spider-Man-H...
5,6,It,"Sep 8, 2017",Warner Bros.,Horror,"$327,481,748","36,508,556",https://www.the-numbers.com/movie/It-(2017)#ta...,https://www.the-numbers.com/movie/It-(2017)#ta...
6,7,Thor: Ragnarok,"Nov 3, 2017",Walt Disney,Action,"$311,225,150","34,696,226",https://www.the-numbers.com/movie/Thor-Ragnaro...,https://www.the-numbers.com/movie/Thor-Ragnaro...
7,8,Despicable Me 3,"Jun 30, 2017",Universal,Adventure,"$264,624,300","29,501,036",https://www.the-numbers.com/movie/Despicable-M...,https://www.the-numbers.com/movie/Despicable-M...
8,9,Logan,"Mar 3, 2017",20th Century Fox,Action,"$226,277,068","25,225,983",https://www.the-numbers.com/movie/Logan-(2017)...,https://www.the-numbers.com/movie/Logan-(2017)...
9,10,The Fate of the Furious,"Apr 14, 2017",Universal,Action,"$225,764,765","25,168,870",https://www.the-numbers.com/movie/Fate-of-the-...,https://www.the-numbers.com/movie/Fate-of-the-...

In [3]:
legs_2017_df = pd.read_pickle('legs_2017_df_pk')
legs_2017_df['Legs']

0       2.82
1       2.88
2       4.00
3       2.66
4       2.86
       ...
729    11.47
730    16.78
731     3.52
732     3.03
733     2.71
Name: Legs, Length: 734, dtype: float64

In [4]:
movies_final_2017_df['Legs'] = legs_2017_df['Legs']

In [5]:
movies_final_2017_df

,Rank,Movie,ReleaseDate,Distributor,Genre,Revenues,Tickets_Sold,summary_page_url,cast_page_url,Legs
0,1,Star Wars Ep. VIII: The Las…,"Dec 15, 2017",Walt Disney,Adventure,"$517,218,368","57,660,910",https://www.the-numbers.com/movie/Star-Wars-Ep...,https://www.the-numbers.com/movie/Star-Wars-Ep...,2.82
1,2,Beauty and the Beast,"Mar 17, 2017",Walt Disney,Musical,"$504,014,165","56,188,870",https://www.the-numbers.com/movie/Beauty-and-t...,https://www.the-numbers.com/movie/Beauty-and-t...,2.88
2,3,Wonder Woman,"Jun 2, 2017",Warner Bros.,Action,"$412,563,408","45,993,691",https://www.the-numbers.com/movie/Wonder-Woman...,https://www.the-numbers.com/movie/Wonder-Woman...,4.00
3,4,Guardians of the Galaxy Vol 2,"May 5, 2017",Walt Disney,Action,"$389,813,101","43,457,424",https://www.the-numbers.com/movie/Guardians-of...,https://www.the-numbers.com/movie/Guardians-of...,2.66
4,5,Spider-Man: Homecoming,"Jul 7, 2017",Sony Pictures,Action,"$334,201,140","37,257,652",https://www.the-numbers.com/movie/Spider-Man-H...,https://www.the-numbers.com/movie/Spider-Man-H...,2.86
...,...,...,...,...,...,...,...,...,...,...
729,730,Mifune,"Feb 25, 2000",Sony Pictures Cla…,Drama,$398,44,https://www.the-numbers.com/movie/Mifune#tab=s...,https://www.the-numbers.com/movie/Mifune#tab=c...,11.47
730,731,Gridiron Heroes,"Apr 15, 2016",Indican Pictures,Documentary,$250,27,https://www.the-numbers.com/movie/Gridiron-Her...,https://www.the-numbers.com/movie/Gridiron-Her...,16.78
731,732,National Bird,"Nov 11, 2016",FilmRise,Documentary,$186,20,https://www.the-numbers.com/movie/National-Bir...,https://www.the-numbers.com/movie/National-Bir...,3.52
732,733,Nightlights,"Aug 15, 2014",Indican Pictures,Drama,$159,17,https://www.the-numbers.com/movie/Nightlights-...,https://www.the-numbers.com/movie/Nightlights-...,3.03
733,734,The Student,"Apr 14, 2017",Under the Milky Way,Drama,$138,15,https://www.the-numbers.com/movie/Muchenik-(Ru...,https://www.the-numbers.com/movie/Muchenik-(Ru...,2.71

In [6]:
budget_2017_df = pd.read_pickle('budget_2017_pk')
wbo_to_budget_ratio_2017_df = pd.read_pickle('wbo_to_budget_ratio_2017_pk')

movies_final_2017_df['Budget'] = budget_2017_df['Production_Budget']
movies_final_2017_df['WBO_to_Budget_Ratio'] = (
    wbo_to_budget_ratio_2017_df['WBO to Budget Ratio'])

In [7]:
movies_final_2017_df

,Rank,Movie,ReleaseDate,Distributor,Genre,Revenues,Tickets_Sold,summary_page_url,cast_page_url,Legs,Budget,WBO_to_Budget_Ratio
0,1,Star Wars Ep. VIII: The Las…,"Dec 15, 2017",Walt Disney,Adventure,"$517,218,368","57,660,910",https://www.the-numbers.com/movie/Star-Wars-Ep...,https://www.the-numbers.com/movie/Star-Wars-Ep...,2.82,262000000,5.1
1,2,Beauty and the Beast,"Mar 17, 2017",Walt Disney,Musical,"$504,014,165","56,188,870",https://www.the-numbers.com/movie/Beauty-and-t...,https://www.the-numbers.com/movie/Beauty-and-t...,2.88,160000000,8.0
2,3,Wonder Woman,"Jun 2, 2017",Warner Bros.,Action,"$412,563,408","45,993,691",https://www.the-numbers.com/movie/Wonder-Woman...,https://www.the-numbers.com/movie/Wonder-Woman...,4.00,150000000,5.5
3,4,Guardians of the Galaxy Vol 2,"May 5, 2017",Walt Disney,Action,"$389,813,101","43,457,424",https://www.the-numbers.com/movie/Guardians-of...,https://www.the-numbers.com/movie/Guardians-of...,2.66,200000000,4.3
4,5,Spider-Man: Homecoming,"Jul 7, 2017",Sony Pictures,Action,"$334,201,140","37,257,652",https://www.the-numbers.com/movie/Spider-Man-H...,https://www.the-numbers.com/movie/Spider-Man-H...,2.86,175000000,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...
729,730,Mifune,"Feb 25, 2000",Sony Pictures Cla…,Drama,$398,44,https://www.the-numbers.com/movie/Mifune#tab=s...,https://www.the-numbers.com/movie/Mifune#tab=c...,11.47,nf,nf
730,731,Gridiron Heroes,"Apr 15, 2016",Indican Pictures,Documentary,$250,27,https://www.the-numbers.com/movie/Gridiron-Her...,https://www.the-numbers.com/movie/Gridiron-Her...,16.78,nf,nf
731,732,National Bird,"Nov 11, 2016",FilmRise,Documentary,$186,20,https://www.the-numbers.com/movie/National-Bir...,https://www.the-numbers.com/movie/National-Bir...,3.52,nf,nf
732,733,Nightlights,"Aug 15, 2014",Indican Pictures,Drama,$159,17,https://www.the-numbers.com/movie/Nightlights-...,https://www.the-numbers.com/movie/Nightlights-...,3.03,250000,0.1
733,734,The Student,"Apr 14, 2017",Under the Milky Way,Drama,$138,15,https://www.the-numbers.com/movie/Muchenik-(Ru...,https://www.the-numbers.com/movie/Muchenik-(Ru...,2.71,nf,nf

In [8]:
theater_count_2017_df = pd.read_pickle('theater_count_2017_pk')
avg_run_2017_df = pd.read_pickle('avg_run_2017_pk')

movies_final_2017_df['Theater_Count'] = theater_count_2017_df['Theater_Count']
movies_final_2017_df['Average_Run'] = avg_run_2017_df['Average_Run']

In [9]:
source_2017_df = pd.read_pickle('source_2017_pk')
movies_final_2017_df['Source'] = source_2017_df['Source']
# movies_final_2017_df

In [10]:
creative_type_2017_df =pd.read_pickle('creative_type_2017_pk') 
movies_final_2017_df['Creative_Type'] = creative_type_2017_df['Creative_Type']
movies_final_2017_df

,Rank,Movie,ReleaseDate,Distributor,Genre,Revenues,Tickets_Sold,summary_page_url,cast_page_url,Legs,Budget,WBO_to_Budget_Ratio,Theater_Count,Average_Run,Source,Creative_Type
0,1,Star Wars Ep. VIII: The Las…,"Dec 15, 2017",Walt Disney,Adventure,"$517,218,368","57,660,910",https://www.the-numbers.com/movie/Star-Wars-Ep...,https://www.the-numbers.com/movie/Star-Wars-Ep...,2.82,262000000,5.1,4232,6.7,Original Screenplay,Science Fiction
1,2,Beauty and the Beast,"Mar 17, 2017",Walt Disney,Musical,"$504,014,165","56,188,870",https://www.the-numbers.com/movie/Beauty-and-t...,https://www.the-numbers.com/movie/Beauty-and-t...,2.88,160000000,8.0,4210,8.5,Remake,Fantasy
2,3,Wonder Woman,"Jun 2, 2017",Warner Bros.,Action,"$412,563,408","45,993,691",https://www.the-numbers.com/movie/Wonder-Woman...,https://www.the-numbers.com/movie/Wonder-Woman...,4.00,150000000,5.5,4165,9.3,Based on Comic/Graphic Novel,Super Hero
3,4,Guardians of the Galaxy Vol 2,"May 5, 2017",Walt Disney,Action,"$389,813,101","43,457,424",https://www.the-numbers.com/movie/Guardians-of...,https://www.the-numbers.com/movie/Guardians-of...,2.66,200000000,4.3,4347,7.0,Based on Comic/Graphic Novel,Super Hero
4,5,Spider-Man: Homecoming,"Jul 7, 2017",Sony Pictures,Action,"$334,201,140","37,257,652",https://www.the-numbers.com/movie/Spider-Man-H...,https://www.the-numbers.com/movie/Spider-Man-H...,2.86,175000000,5.0,4348,8.0,Based on Comic/Graphic Novel,Super Hero
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
729,730,Mifune,"Feb 25, 2000",Sony Pictures Cla…,Drama,$398,44,https://www.the-numbers.com/movie/Mifune#tab=s...,https://www.the-numbers.com/movie/Mifune#tab=c...,11.47,nf,nf,2,7.5,Original Screenplay,Contemporary Fiction
730,731,Gridiron Heroes,"Apr 15, 2016",Indican Pictures,Documentary,$250,27,https://www.the-numbers.com/movie/Gridiron-Her...,https://www.the-numbers.com/movie/Gridiron-Her...,16.78,nf,nf,nf,nf,Based on Real Life Events,Factual
731,732,National Bird,"Nov 11, 2016",FilmRise,Documentary,$186,20,https://www.the-numbers.com/movie/National-Bir...,https://www.the-numbers.com/movie/National-Bir...,3.52,nf,nf,1,1.6,Based on Real Life Events,Factual
732,733,Nightlights,"Aug 15, 2014",Indican Pictures,Drama,$159,17,https://www.the-numbers.com/movie/Nightlights-...,https://www.the-numbers.com/movie/Nightlights-...,3.03,250000,0.1,2,4.2,Original Screenplay,Contemporary Fiction
733,734,The Student,"Apr 14, 2017",Under the Milky Way,Drama,$138,15,https://www.the-numbers.com/movie/Muchenik-(Ru...,https://www.the-numbers.com/movie/Muchenik-(Ru...,2.71,nf,nf,nf,nf,Original Screenplay,Contemporary Fiction

In [11]:
movies_final_2017_df.drop(['summary_page_url', 'cast_page_url'],
                          axis = 1, inplace = True)
movies_final_2017_df.shape

(734, 14)

In [12]:
col_reorder = ['Rank', 'Movie','ReleaseDate', 'Revenues', 'Tickets_Sold',
              'Legs', 'Budget', 'WBO_to_Budget_Ratio', 'Theater_Count',
               'Average_Run', 'Genre', 'Source', 'Creative_Type', 'Distributor']

movies_final_2017_df = movies_final_2017_df[col_reorder]

In [13]:
movies_final_2017_df

,Rank,Movie,ReleaseDate,Revenues,Tickets_Sold,Legs,Budget,WBO_to_Budget_Ratio,Theater_Count,Average_Run,Genre,Source,Creative_Type,Distributor
0,1,Star Wars Ep. VIII: The Las…,"Dec 15, 2017","$517,218,368","57,660,910",2.82,262000000,5.1,4232,6.7,Adventure,Original Screenplay,Science Fiction,Walt Disney
1,2,Beauty and the Beast,"Mar 17, 2017","$504,014,165","56,188,870",2.88,160000000,8.0,4210,8.5,Musical,Remake,Fantasy,Walt Disney
2,3,Wonder Woman,"Jun 2, 2017","$412,563,408","45,993,691",4.00,150000000,5.5,4165,9.3,Action,Based on Comic/Graphic Novel,Super Hero,Warner Bros.
3,4,Guardians of the Galaxy Vol 2,"May 5, 2017","$389,813,101","43,457,424",2.66,200000000,4.3,4347,7.0,Action,Based on Comic/Graphic Novel,Super Hero,Walt Disney
4,5,Spider-Man: Homecoming,"Jul 7, 2017","$334,201,140","37,257,652",2.86,175000000,5.0,4348,8.0,Action,Based on Comic/Graphic Novel,Super Hero,Sony Pictures
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
729,730,Mifune,"Feb 25, 2000",$398,44,11.47,nf,nf,2,7.5,Drama,Original Screenplay,Contemporary Fiction,Sony Pictures Cla…
730,731,Gridiron Heroes,"Apr 15, 2016",$250,27,16.78,nf,nf,nf,nf,Documentary,Based on Real Life Events,Factual,Indican Pictures
731,732,National Bird,"Nov 11, 2016",$186,20,3.52,nf,nf,1,1.6,Documentary,Based on Real Life Events,Factual,FilmRise
732,733,Nightlights,"Aug 15, 2014",$159,17,3.03,250000,0.1,2,4.2,Drama,Original Screenplay,Contemporary Fiction,Indican Pictures
733,734,The Student,"Apr 14, 2017",$138,15,2.71,nf,nf,nf,nf,Drama,Original Screenplay,Contemporary Fiction,Under the Milky Way

In [14]:
cast_2017_df = pd.read_pickle('cast_2017_pk')
# cast_2017_df

In [15]:
movies_final_2017_df = movies_final_2017_df.join(cast_2017_df)

In [16]:
movies_final_2017_df.to_pickle('final_2017_pk')

In [17]:
nf_count_dict = {}

# name = 'Budget'
# movies_final_2017_df[movies_final_2017_df[name] == 'nf'][name].count()

for name in col_reorder:
    count_nf = movies_final_2017_df[movies_final_2017_df[name] == 'nf'][name].count()
    print(f'{name}   {count_nf}')

Rank   0
Movie   0
ReleaseDate   0
Revenues   0
Tickets_Sold   0
Legs   0
Budget   511
WBO_to_Budget_Ratio   511
Theater_Count   63
Average_Run   63
Genre   0
Source   0
Creative_Type   0
Distributor   0

In [18]:
movies_final_2017_df.dtypes
# movies_final_2017_df

Rank                    object
Movie                   object
ReleaseDate             object
Revenues                object
Tickets_Sold            object
Legs                   float64
Budget                  object
WBO_to_Budget_Ratio     object
Theater_Count           object
Average_Run             object
Genre                   object
Source                  object
Creative_Type           object
Distributor             object
All_Cast_Rating        float64
Samuel L. Jackson        int64
Robert Downey, Jr.       int64
Scarlett Johansson       int64
Tom Hanks                int64
Bradley Cooper           int64
Harrison Ford            int64
Chris Evans              int64
Tom Cruise               int64
Chris Hemsworth          int64
Zoe Saldana              int64
dtype: object

In [19]:

movies_final_2017_df.replace(r'nf', np.nan, regex = True, inplace = True )


col_list = ['Revenues', 'Tickets_Sold', 'Legs', 'Budget', 'WBO_to_Budget_Ratio',
           'Theater_Count', 'Average_Run']

for col_name in col_list:
    movies_final_2017_df[col_name] = (movies_final_2017_df[col_name]
                                    .replace('[\$,]', '', regex = True))
                                        
    movies_final_2017_df[col_name] = (pd.to_numeric(movies_final_2017_df[col_name], 
                                                errors = 'coerce'))

In [20]:
movies_final_2017_df.dtypes
# movies_final_2017_df

Rank                    object
Movie                   object
ReleaseDate             object
Revenues                 int64
Tickets_Sold             int64
Legs                   float64
Budget                 float64
WBO_to_Budget_Ratio    float64
Theater_Count          float64
Average_Run            float64
Genre                   object
Source                  object
Creative_Type           object
Distributor             object
All_Cast_Rating        float64
Samuel L. Jackson        int64
Robert Downey, Jr.       int64
Scarlett Johansson       int64
Tom Hanks                int64
Bradley Cooper           int64
Harrison Ford            int64
Chris Evans              int64
Tom Cruise               int64
Chris Hemsworth          int64
Zoe Saldana              int64
dtype: object

In [21]:
for name in col_reorder:
    count_nf = movies_final_2017_df[movies_final_2017_df[name] == 'nf'][name].count()
    print(f'{name}   {count_nf}')

Rank   0
Movie   0
ReleaseDate   0
Revenues   0
Tickets_Sold   0
Legs   0
Budget   0
WBO_to_Budget_Ratio   0
Theater_Count   0
Average_Run   0
Genre   0
Source   0
Creative_Type   0
Distributor   0

In [22]:
for col_name in col_reorder:
    count_nan = movies_final_2017_df[col_name].isna().sum()
    print(f'{col_name}   {count_nan}')

Rank   0
Movie   4
ReleaseDate   0
Revenues   0
Tickets_Sold   0
Legs   0
Budget   511
WBO_to_Budget_Ratio   511
Theater_Count   63
Average_Run   63
Genre   0
Source   0
Creative_Type   0
Distributor   0

In [23]:
movies_final_2017_df.to_pickle('final_2017_pk')